@model Leave_System.Models.VacationRequestVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vacation Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VacationTypeId" class="control-label">Vacation Type</label>
                @Html.DropDownListFor(q => q.VacationTypeId, new SelectList(Model.vacationtypes, "Value", "Text"), "Select Vacation Type", new { @class = "form-control" })
                <span asp-validation-for="VacationTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Start Date</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">End Date</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRequested" class="control-label">Date Requested</label>
                <input asp-for="DateRequested" class="form-control" />
                <span asp-validation-for="DateRequested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Status</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

